/*
* ------------------------------------------------------------------
*   nf-core pipelines config file for the Agroscope's Gamarello cluster
* ------------------------------------------------------------------
*/

params {
    config_profile_name        = 'agroscope_gamarello'
    config_profile_description = 'Agroscope's Gamarello cluster profile -- provided by nf-core/configs'
    config_profile_contact     = 'Julia Gustavsen (github: @jgustavsen; email: julia.gustavsen@agroscope.admin.ch)
    config_profile_url         = 'TBA'

    max_memory                 = 1.TB
    max_cpus                   = 128
    max_time                   = 120.h

    igenomes_base              = '/cluster/project/igenomes'
    igenomes_ignore            = false
}

executor {
    name                = 'slurm'
    perCpuMemAllocation = true
}

process {
    resourceLimits = [
        memory: 1.TB,
        cpus: 128,
        time: 120.h
    ]
    scratch       = 'true'
    errorStrategy = 'retry'
    maxRetries    = 3
}

singularity {
    enabled    = true
    autoMounts = true
}

trace {
    trace.overwrite = true
    enabled         = true
}

// On a successful completion of a Nextflow run, automatically delete all intermediate files stored in the work/ directory
cleanup = true

// Allows to override the default cleanup = true behaviour for debugging
debug {
    cleanup = false
}
